<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916547961165-rql0h23l95si4tlu1f3u0o70uot4kc2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916547961165-rql0h23l95si4tlu1f3u0o70uot4kc2c</string>
	<key>API_KEY</key>
	<string>AIzaSyAVNVKsJu6V8YKAJF8NLAMSGhe7AmeABxo</string>
	<key>GCM_SENDER_ID</key>
	<string>916547961165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-a9b86</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-a9b86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916547961165:ios:74fc3e351338239b94b704</string>
</dict>
</plist>